<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BonziClone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BonziClone.Properties.Settings>
            <setting name="animation_interval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="current_animation" serializeAs="String">
                <value>BONZI_IDLE</value>
            </setting>
        </BonziClone.Properties.Settings>
    </userSettings>
</configuration>